mujoco.xsd

<?xml version="1.0"?>
<xs:schema xmlns:xs="http://www.w3.org/2001/XMLSchema" elementFormDefault="qualified"
    xmlns:rt="root"
    xmlns:cmp="compiler"
    xmlns:opt="option"
    xmlns:sz="size"
    xmlns:vis="visual"
    xmlns:stt="statistic"
    xmlns:def="default"
    xmlns:cst="custom"
    xmlns:ast="asset"
    xmlns:bd="body"
    xmlns:ctc="contact">

    <xs:import schemaLocation="root.xsd" namespace="root"/>
    <xs:import schemaLocation="compiler.xsd" namespace="compiler"/>
    <xs:import schemaLocation="option.xsd" namespace="option"/>
    <xs:import schemaLocation="size.xsd" namespace="size"/>
    <xs:import schemaLocation="visual.xsd" namespace="visual"/>
    <xs:import schemaLocation="statistic.xsd" namespace="statistic"/>
    <xs:import schemaLocation="default.xsd" namespace="default"/>
    <xs:import schemaLocation="custom.xsd" namespace="custom"/>
    <xs:import schemaLocation="asset.xsd" namespace="asset"/>
    <xs:import schemaLocation="body.xsd" namespace="body"/>
    <xs:import schemaLocation="contact.xsd" namespace="contact"/>


    <!-- Recursive types -->
    <!-- default -->
    <xs:complexType name="defaultType">
        <xs:complexContent>
            <xs:extension base="def:defaultType">
                <xs:choice minOccurs="0" maxOccurs="unbounded">
                    <xs:element name="default" type="defaultType" minOccurs="0"/>
                    <xs:element name="include" type="rt:includeType"/>
                </xs:choice>
            </xs:extension>
        </xs:complexContent>
    </xs:complexType>
    <!-- body -->
    <xs:complexType name="bodyarchType">
        <xs:complexContent>
            <xs:extension base="bd:bodyType">
                <xs:choice minOccurs="0" maxOccurs="unbounded">
                    <xs:element name="inertial" type="bd:inertialType"/>
                    <xs:element name="joint" type="bd:jointType"/>
                    <xs:element name="freejoint" type="bd:jointType"/>
                    <xs:element name="geom" type="bd:geomType"/>
                    <xs:element name="site" type="bd:siteType"/>
                    <xs:element name="camera" type="bd:cameraType"/>
                    <xs:element name="light" type="bd:lightType"/>
                    <xs:element name="composite">
                        <xs:complexType>
                            <xs:complexContent>
                                <xs:extension base="bd:compositeType">
                                    <xs:choice minOccurs="0" maxOccurs="unbounded">
                                        <xs:element name="joint" type="bd:compositejointType"/>
                                        <xs:element name="tendon" type="bd:tendonType"/>
                                        <xs:element name="geom" type="bd:compositegeomType"/>
                                        <xs:element name="site" type="bd:compositesiteType"/>
                                        <xs:element name="skin" type="bd:skinType"/>
                                        <xs:element name="pin" type="bd:pinType"/>
                                        <xs:element name="include" type="rt:includeType"/>
                                    </xs:choice>
                                </xs:extension>
                            </xs:complexContent>
                        </xs:complexType>
                    </xs:element>

                    <xs:element name="body" type="bodyarchType"/>
                    <xs:element name="include" type="rt:includeType"/>
                </xs:choice>
            </xs:extension>
        </xs:complexContent>
    </xs:complexType>


    <!-- Beginning of the architecture of elements -->
    <xs:element name="mujoco">
        <xs:complexType>
            <xs:complexContent>
                <xs:extension base="rt:mujocoType">
                    <xs:choice minOccurs="0" maxOccurs="unbounded">
                        <!-- compiler element -->
                        <xs:element name="compiler" maxOccurs="1">
                            <xs:complexType>
                                <xs:complexContent>
                                    <xs:extension base="cmp:compilerType">
                                        <xs:choice minOccurs="0" maxOccurs="unbounded">
                                            <xs:element name="lengthrange" type="cmp:lengthrangeType" maxOccurs="1"/>
                                            <xs:element name="include" type="rt:includeType"/>
                                        </xs:choice>
                                    </xs:extension>
                                </xs:complexContent>
                            </xs:complexType>
                        </xs:element>

                        <!-- option element -->
                        <xs:element name="option" maxOccurs="1">
                            <xs:complexType>
                                <xs:complexContent>
                                    <xs:extension base="opt:optionType">
                                        <xs:choice minOccurs="0" maxOccurs="unbounded">
                                            <xs:element name="flag" type="opt:flagType" maxOccurs="1"/>
                                            <xs:element name="include" type="rt:includeType"/>
                                        </xs:choice>
                                    </xs:extension>
                                </xs:complexContent>
                            </xs:complexType>
                        </xs:element>

                        <!-- size element -->
                        <xs:element name="size" type="sz:sizeType" maxOccurs="1"/>

                        <!-- visual element -->
                        <xs:element name="visual" maxOccurs="1">
                            <xs:complexType>
                                <xs:choice minOccurs="0" maxOccurs="unbounded">
                                    <xs:element name="global" type="vis:globalType" maxOccurs="1"/>
                                    <xs:element name="quality" type="vis:qualityType" maxOccurs="1"/>
                                    <xs:element name="headlight" type="vis:headlightType" maxOccurs="1"/>
                                    <xs:element name="map" type="vis:mapType" maxOccurs="1"/>
                                    <xs:element name="scale" type="vis:scaleType" maxOccurs="1"/>
                                    <xs:element name="rgba" type="vis:rgbaType" maxOccurs="1"/>
                                    <xs:element name="include" type="rt:includeType"/>
                                </xs:choice>
                            </xs:complexType>
                        </xs:element>

                        <!-- statistic element -->
                        <xs:element name="statistic" type="stt:statisticType" maxOccurs="1"/>

                        <!-- default element -->
                        <xs:element name="default" type="defaultType" maxOccurs="1"/>

                        <!-- custom element -->
                        <xs:element name="custom" maxOccurs="1">
                            <xs:complexType>
                                <xs:choice minOccurs="0" maxOccurs="unbounded">
                                    <xs:element name="numeric" type="cst:numericType"/>
                                    <xs:element name="text" type="cst:textType"/>
                                    <xs:element name="tuple">
                                        <xs:complexType>
                                            <xs:complexContent>
                                                <xs:extension base="cst:tupleType">
                                                    <xs:choice minOccurs="0" maxOccurs="unbounded">
                                                        <xs:element name="element" type="cst:elementType"/>
                                                        <xs:element name="include" type="rt:includeType"/>
                                                    </xs:choice>
                                                </xs:extension>
                                            </xs:complexContent>
                                        </xs:complexType>
                                    </xs:element>
                                    <xs:element name="include" type="rt:includeType"/>
                                </xs:choice>
                            </xs:complexType>
                        </xs:element>

                        <!-- asset element -->
                        <xs:element name="asset">
                            <xs:complexType>
                                <xs:choice minOccurs="0" maxOccurs="unbounded">
                                    <xs:element name="texture" type="ast:textureType"/>
                                    <xs:element name="hfield" type="ast:hfieldType"/>
                                    <xs:element name="mesh" type="ast:meshType"/>
                                    <xs:element name="skin">
                                        <xs:complexType>
                                            <xs:complexContent>
                                                <xs:extension base="ast:skinType">
                                                    <xs:choice minOccurs="0" maxOccurs="unbounded">
                                                        <xs:element name="bone" type="ast:boneType"/>
                                                        <xs:element name="include" type="rt:includeType"/>
                                                    </xs:choice>
                                                </xs:extension>
                                            </xs:complexContent>
                                        </xs:complexType>
                                    </xs:element>
                                    <xs:element name="material" type="ast:materialType"/>
                                    <xs:element name="include" type="rt:includeType"/>
                                </xs:choice>
                            </xs:complexType>
                        </xs:element>

                        <!-- (world)body element -->
                        <xs:element name="worldbody">
                            <xs:complexType>
                                <xs:choice minOccurs="0" maxOccurs="unbounded">
                                    <xs:element name="geom" type="bd:geomType"/>
                                    <xs:element name="site" type="bd:siteType"/>
                                    <xs:element name="camera" type="bd:cameraType"/>
                                    <xs:element name="light" type="bd:lightType"/>
                                    <xs:element name="composite">
                                        <xs:complexType>
                                            <xs:complexContent>
                                                <xs:extension base="bd:compositeType">
                                                    <xs:choice minOccurs="0" maxOccurs="unbounded">
                                                        <xs:element name="joint" type="bd:compositejointType"/>
                                                        <xs:element name="tendon" type="bd:tendonType"/>
                                                        <xs:element name="geom" type="bd:compositegeomType"/>
                                                        <xs:element name="site" type="bd:compositesiteType"/>
                                                        <xs:element name="skin" type="bd:skinType"/>
                                                        <xs:element name="pin" type="bd:pinType"/>
                                                        <xs:element name="include" type="rt:includeType"/>
                                                    </xs:choice>
                                                </xs:extension>
                                            </xs:complexContent>
                                        </xs:complexType>
                                    </xs:element>

                                    <xs:element name="body" type="bodyarchType"/>
                                    <xs:element name="include" type="rt:includeType"/>
                                </xs:choice>
                            </xs:complexType>
                        </xs:element>

                        <!-- contact element -->
                        <xs:element name="contact">
                            <xs:complexType>
                                <xs:choice minOccurs="0" maxOccurs="unbounded">
                                    <xs:element name="pair" type="ctc:pairType"/>
                                    <xs:element name="exclude" type="ctc:excludeType"/>
                                    <xs:element name="include" type="rt:includeType"/>
                                </xs:choice>
                            </xs:complexType>
                        </xs:element>

                        <!-- include element -->
                        <xs:element name="include" type="rt:includeType"/>

                    </xs:choice>
                </xs:extension>
            </xs:complexContent>
        </xs:complexType>
    </xs:element>
</xs:schema>