mujoco.xsd

<?xml version="1.0"?>
<xs:schema xmlns:xs="http://www.w3.org/2001/XMLSchema" elementFormDefault="qualified"
    xmlns:rt="root"
    xmlns:cmp="compiler"
    xmlns:opt="option"
    xmlns:sz="size"
    xmlns:vis="visual"
    xmlns:stt="statistic"
    xmlns:def="default"
    xmlns:cst="custom"
    xmlns:ast="asset"
    xmlns:bd="body"
    xmlns:ctc="contact"
    xmlns:eqy="equality"
    xmlns:tdn="tendon"
    xmlns:act="actuator"
    xmlns:sns="sensor"
    xmlns:key="keyframe">

    <xs:import schemaLocation="element/root.xsd" namespace="root"/>
    <xs:import schemaLocation="element/compiler.xsd" namespace="compiler"/>
    <xs:import schemaLocation="element/option.xsd" namespace="option"/>
    <xs:import schemaLocation="element/size.xsd" namespace="size"/>
    <xs:import schemaLocation="element/visual.xsd" namespace="visual"/>
    <xs:import schemaLocation="element/statistic.xsd" namespace="statistic"/>
    <xs:import schemaLocation="element/default.xsd" namespace="default"/>
    <xs:import schemaLocation="element/custom.xsd" namespace="custom"/>
    <xs:import schemaLocation="element/asset.xsd" namespace="asset"/>
    <xs:import schemaLocation="element/body.xsd" namespace="body"/>
    <xs:import schemaLocation="element/contact.xsd" namespace="contact"/>
    <xs:import schemaLocation="element/equality.xsd" namespace="equality"/>
    <xs:import schemaLocation="element/tendon.xsd" namespace="tendon"/>
    <xs:import schemaLocation="element/actuator.xsd" namespace="actuator"/>
    <xs:import schemaLocation="element/sensor.xsd" namespace="sensor"/>
    <xs:import schemaLocation="element/keyframe.xsd" namespace="keyframe"/>


    <!-- Recursive types -->

    <!-- default -->
    <xs:complexType name="defaultType">
        <xs:complexContent>
            <xs:extension base="def:defaultType">
                <xs:choice minOccurs="0" maxOccurs="unbounded">
                    <xs:element name="mesh" type="def:meshType"/>
                    <xs:element name="material" type="def:materialType"/>
                    <xs:element name="joint" type="def:jointType"/>
                    <xs:element name="geom" type="def:geomType"/>
                    <xs:element name="site" type="def:siteType"/>
                    <xs:element name="camera" type="def:cameraType"/>
                    <xs:element name="light" type="def:lightType"/>
                    <xs:element name="pair" type="def:pairType"/>
                    <xs:element name="equality" type="def:equalityType"/>
                    <xs:element name="tendon" type="def:tendonType"/>
                    <xs:element name="general" type="def:generalType"/>
                    <xs:element name="motor" type="def:motorType"/>
                    <xs:element name="position" type="def:positionType"/>
                    <xs:element name="velocity" type="def:velocityType"/>
                    <xs:element name="cylinder" type="def:cylinderType"/>
                    <xs:element name="muscle" type="def:muscleType"/>

                    <xs:element name="default" type="defaultType" minOccurs="0"/>
                    <xs:element name="include" type="rt:includeType"/>
                </xs:choice>
            </xs:extension>
        </xs:complexContent>
    </xs:complexType>

    <!-- body -->
    <xs:complexType name="bodyarchType">
        <xs:complexContent>
            <xs:extension base="bd:bodyType">
                <xs:choice minOccurs="0" maxOccurs="unbounded">
                    <xs:element name="inertial" type="bd:inertialType"/>
                    <xs:element name="joint" type="bd:jointType"/>
                    <xs:element name="freejoint" type="bd:jointType"/>
                    <xs:element name="geom" type="bd:geomType"/>
                    <xs:element name="site" type="bd:siteType"/>
                    <xs:element name="camera" type="bd:cameraType"/>
                    <xs:element name="light" type="bd:lightType"/>
                    <xs:element name="composite">
                        <xs:complexType>
                            <xs:complexContent>
                                <xs:extension base="bd:compositeType">
                                    <xs:choice minOccurs="0" maxOccurs="unbounded">
                                        <xs:element name="joint" type="bd:compositejointType"/>
                                        <xs:element name="tendon" type="bd:tendonType"/>
                                        <xs:element name="geom" type="bd:compositegeomType"/>
                                        <xs:element name="site" type="bd:compositesiteType"/>
                                        <xs:element name="skin" type="bd:skinType"/>
                                        <xs:element name="pin" type="bd:pinType"/>
                                        <xs:element name="include" type="rt:includeType"/>
                                    </xs:choice>
                                </xs:extension>
                            </xs:complexContent>
                        </xs:complexType>
                    </xs:element>

                    <xs:element name="body" type="bodyarchType"/>
                    <xs:element name="include" type="rt:includeType"/>
                </xs:choice>
            </xs:extension>
        </xs:complexContent>
    </xs:complexType>


    <!-- Beginning of the architecture of elements -->
    <xs:element name="mujoco">
        <xs:complexType>
            <xs:complexContent>
                <xs:extension base="rt:mujocoType">
                    <xs:choice minOccurs="0" maxOccurs="unbounded">
                        <!-- compiler element -->
                        <xs:element name="compiler" maxOccurs="1">
                            <xs:complexType>
                                <xs:complexContent>
                                    <xs:extension base="cmp:compilerType">
                                        <xs:choice minOccurs="0" maxOccurs="unbounded">
                                            <xs:element name="lengthrange" type="cmp:lengthrangeType" maxOccurs="1"/>
                                            <xs:element name="include" type="rt:includeType"/>
                                        </xs:choice>
                                    </xs:extension>
                                </xs:complexContent>
                            </xs:complexType>
                        </xs:element>

                        <!-- option element -->
                        <xs:element name="option" maxOccurs="1">
                            <xs:complexType>
                                <xs:complexContent>
                                    <xs:extension base="opt:optionType">
                                        <xs:choice minOccurs="0" maxOccurs="unbounded">
                                            <xs:element name="flag" type="opt:flagType" maxOccurs="1"/>
                                            <xs:element name="include" type="rt:includeType"/>
                                        </xs:choice>
                                    </xs:extension>
                                </xs:complexContent>
                            </xs:complexType>
                        </xs:element>

                        <!-- size element -->
                        <xs:element name="size" type="sz:sizeType" maxOccurs="1"/>

                        <!-- visual element -->
                        <xs:element name="visual" maxOccurs="1">
                            <xs:complexType>
                                <xs:choice minOccurs="0" maxOccurs="unbounded">
                                    <xs:element name="global" type="vis:globalType" maxOccurs="1"/>
                                    <xs:element name="quality" type="vis:qualityType" maxOccurs="1"/>
                                    <xs:element name="headlight" type="vis:headlightType" maxOccurs="1"/>
                                    <xs:element name="map" type="vis:mapType" maxOccurs="1"/>
                                    <xs:element name="scale" type="vis:scaleType" maxOccurs="1"/>
                                    <xs:element name="rgba" type="vis:rgbaType" maxOccurs="1"/>
                                    <xs:element name="include" type="rt:includeType"/>
                                </xs:choice>
                            </xs:complexType>
                        </xs:element>

                        <!-- statistic element -->
                        <xs:element name="statistic" type="stt:statisticType" maxOccurs="1"/>

                        <!-- default element -->
                        <xs:element name="default" type="defaultType" maxOccurs="1"/>

                        <!-- custom element -->
                        <xs:element name="custom" maxOccurs="1">
                            <xs:complexType>
                                <xs:choice minOccurs="0" maxOccurs="unbounded">
                                    <xs:element name="numeric" type="cst:numericType"/>
                                    <xs:element name="text" type="cst:textType"/>
                                    <xs:element name="tuple">
                                        <xs:complexType>
                                            <xs:complexContent>
                                                <xs:extension base="cst:tupleType">
                                                    <xs:choice minOccurs="0" maxOccurs="unbounded">
                                                        <xs:element name="element" type="cst:elementType"/>
                                                        <xs:element name="include" type="rt:includeType"/>
                                                    </xs:choice>
                                                </xs:extension>
                                            </xs:complexContent>
                                        </xs:complexType>
                                    </xs:element>
                                    <xs:element name="include" type="rt:includeType"/>
                                </xs:choice>
                            </xs:complexType>
                        </xs:element>

                        <!-- asset element -->
                        <xs:element name="asset">
                            <xs:complexType>
                                <xs:choice minOccurs="0" maxOccurs="unbounded">
                                    <xs:element name="texture" type="ast:textureType"/>
                                    <xs:element name="hfield" type="ast:hfieldType"/>
                                    <xs:element name="mesh" type="ast:meshType"/>
                                    <xs:element name="skin">
                                        <xs:complexType>
                                            <xs:complexContent>
                                                <xs:extension base="ast:skinType">
                                                    <xs:choice minOccurs="0" maxOccurs="unbounded">
                                                        <xs:element name="bone" type="ast:boneType"/>
                                                        <xs:element name="include" type="rt:includeType"/>
                                                    </xs:choice>
                                                </xs:extension>
                                            </xs:complexContent>
                                        </xs:complexType>
                                    </xs:element>
                                    <xs:element name="material" type="ast:materialType"/>
                                    <xs:element name="include" type="rt:includeType"/>
                                </xs:choice>
                            </xs:complexType>
                        </xs:element>

                        <!-- (world)body element -->
                        <xs:element name="worldbody">
                            <xs:complexType>
                                <xs:choice minOccurs="0" maxOccurs="unbounded">
                                    <xs:element name="geom" type="bd:geomType"/>
                                    <xs:element name="site" type="bd:siteType"/>
                                    <xs:element name="camera" type="bd:cameraType"/>
                                    <xs:element name="light" type="bd:lightType"/>
                                    <xs:element name="composite">
                                        <xs:complexType>
                                            <xs:complexContent>
                                                <xs:extension base="bd:compositeType">
                                                    <xs:choice minOccurs="0" maxOccurs="unbounded">
                                                        <xs:element name="joint" type="bd:compositejointType"/>
                                                        <xs:element name="tendon" type="bd:tendonType"/>
                                                        <xs:element name="geom" type="bd:compositegeomType"/>
                                                        <xs:element name="site" type="bd:compositesiteType"/>
                                                        <xs:element name="skin" type="bd:skinType"/>
                                                        <xs:element name="pin" type="bd:pinType"/>
                                                        <xs:element name="include" type="rt:includeType"/>
                                                    </xs:choice>
                                                </xs:extension>
                                            </xs:complexContent>
                                        </xs:complexType>
                                    </xs:element>

                                    <xs:element name="body" type="bodyarchType"/>
                                    <xs:element name="include" type="rt:includeType"/>
                                </xs:choice>
                            </xs:complexType>
                        </xs:element>

                        <!-- contact element -->
                        <xs:element name="contact">
                            <xs:complexType>
                                <xs:choice minOccurs="0" maxOccurs="unbounded">
                                    <xs:element name="pair" type="ctc:pairType"/>
                                    <xs:element name="exclude" type="ctc:excludeType"/>
                                    <xs:element name="include" type="rt:includeType"/>
                                </xs:choice>
                            </xs:complexType>
                        </xs:element>

                        <!-- equality element -->
                        <xs:element name="equality">
                            <xs:complexType>
                                <xs:choice minOccurs="0" maxOccurs="unbounded">
                                    <xs:element name="connect" type="eqy:connectType"/>
                                    <xs:element name="weld" type="eqy:weldType"/>
                                    <xs:element name="joint" type="eqy:jointType"/>
                                    <xs:element name="tendon" type="eqy:tendonType"/>
                                    <xs:element name="distance" type="eqy:distanceType"/>
                                    <xs:element name="include" type="rt:includeType"/>
                                </xs:choice>
                            </xs:complexType>
                        </xs:element>

                        <!-- tendon element -->
                        <xs:element name="tendon">
                            <xs:complexType>
                                <xs:choice minOccurs="0" maxOccurs="unbounded">
                                    <xs:element name="spatial">
                                        <xs:complexType>
                                            <xs:complexContent>
                                                <xs:extension base="tdn:spatialType">
                                                    <xs:choice minOccurs="0" maxOccurs="unbounded">
                                                        <xs:element name="site" type="tdn:siteType"/>
                                                        <xs:element name="geom" type="tdn:geomType"/>
                                                        <xs:element name="pulley" type="tdn:pulleyType"/>
                                                        <xs:element name="include" type="rt:includeType"/>
                                                    </xs:choice>
                                                </xs:extension>
                                            </xs:complexContent>
                                        </xs:complexType>
                                    </xs:element>
                                    <xs:element name="fixed">
                                        <xs:complexType>
                                            <xs:complexContent>
                                                <xs:extension base="tdn:fixedType">
                                                    <xs:choice minOccurs="0" maxOccurs="unbounded">
                                                        <xs:element name="joint" type="tdn:jointType"/>
                                                        <xs:element name="include" type="rt:includeType"/>
                                                    </xs:choice>
                                                </xs:extension>
                                            </xs:complexContent>
                                        </xs:complexType>
                                    </xs:element>
                                    <xs:element name="include" type="rt:includeType"/>
                                </xs:choice>
                            </xs:complexType>
                        </xs:element>

                        <!-- actuator element -->
                        <xs:element name="actuator">
                            <xs:complexType>
                                <xs:choice minOccurs="0" maxOccurs="unbounded">
                                    <xs:element name="general" type="act:generalType"/>
                                    <xs:element name="motor" type="act:motorType"/>
                                    <xs:element name="position" type="act:positionType"/>
                                    <xs:element name="velocity" type="act:velocityType"/>
                                    <xs:element name="cylinder" type="act:cylinderType"/>
                                    <xs:element name="muscle" type="act:muscleType"/>
                                    <xs:element name="include" type="rt:includeType"/>
                                </xs:choice>
                            </xs:complexType>
                        </xs:element>

                        <!-- sensor element -->
                        <xs:element name="sensor">
                            <xs:complexType>
                                <xs:choice minOccurs="0" maxOccurs="unbounded">
                                    <xs:element name="touch" type="sns:sensorType"/>
                                    <xs:element name="accelerometer" type="sns:sensorType"/>
                                    <xs:element name="velocimeter" type="sns:sensorType"/>
                                    <xs:element name="gyro" type="sns:sensorType"/>
                                    <xs:element name="force" type="sns:sensorType"/>
                                    <xs:element name="torque" type="sns:sensorType"/>
                                    <xs:element name="magnetometer" type="sns:sensorType"/>
                                    <xs:element name="rangefinder" type="sns:sensorType"/>
                                    <xs:element name="jointpos" type="sns:jointType"/>
                                    <xs:element name="jointvel" type="sns:jointType"/>
                                    <xs:element name="tendonpos" type="sns:tendonType"/>
                                    <xs:element name="tendonvel" type="sns:tendonType"/>
                                    <xs:element name="actuatorpos" type="sns:actuatorType"/>
                                    <xs:element name="actuatorvel" type="sns:actuatorType"/>
                                    <xs:element name="actuatorfrc" type="sns:actuatorType"/>
                                    <xs:element name="ballquat" type="sns:jointType"/>
                                    <xs:element name="ballangvel" type="sns:jointType"/>
                                    <xs:element name="jointlimitpos" type="sns:jointType"/>
                                    <xs:element name="jointlimitvel" type="sns:jointType"/>
                                    <xs:element name="jointlimitfrc" type="sns:jointType"/>
                                    <xs:element name="tendonlimitpos" type="sns:tendonType"/>
                                    <xs:element name="tendonlimitvel" type="sns:tendonType"/>
                                    <xs:element name="tendonlimitfrc" type="sns:tendonType"/>
                                    <xs:element name="framepos" type="sns:frameType"/>
                                    <xs:element name="framequat" type="sns:frameType"/>
                                    <xs:element name="framexaxis" type="sns:frameType"/>
                                    <xs:element name="frameyaxis" type="sns:frameType"/>
                                    <xs:element name="framezaxis" type="sns:frameType"/>
                                    <xs:element name="framelinvel" type="sns:frameType"/>
                                    <xs:element name="frameangvel" type="sns:frameType"/>
                                    <xs:element name="framelinacc" type="sns:frameType"/>
                                    <xs:element name="frameangacc" type="sns:frameType"/>
                                    <xs:element name="subtreecom" type="sns:subtreeType"/>
                                    <xs:element name="subtreelinvel" type="sns:subtreeType"/>
                                    <xs:element name="subtreeangmom" type="sns:subtreeType"/>
                                    <xs:element name="user" type="sns:userType"/>
                                    <xs:element name="include" type="rt:includeType"/>
                                </xs:choice>
                            </xs:complexType>
                        </xs:element>

                        <!-- keyframe element -->
                        <xs:element name="keyframe">
                            <xs:complexType>
                                <xs:choice minOccurs="0" maxOccurs="unbounded">
                                    <xs:element name="key" type="key:keyType"/>
                                    <xs:element name="include" type="rt:includeType"/>
                                </xs:choice>
                            </xs:complexType>
                        </xs:element>

                        <!-- include element -->
                        <xs:element name="include" type="rt:includeType"/>

                    </xs:choice>
                </xs:extension>
            </xs:complexContent>
        </xs:complexType>
    </xs:element>
</xs:schema>