mujoco.xsd

<?xml version="1.0"?>
<xs:schema xmlns:xs="http://www.w3.org/2001/XMLSchema" elementFormDefault="qualified"
    xmlns:rt="root"
    xmlns:cmp="compiler">
    <xs:import schemaLocation="root.xsd" namespace="root"/>
    <xs:import schemaLocation="compiler.xsd" namespace="compiler"/>


    <xs:element name="mujoco">
        <xs:complexType>
            <xs:complexContent>
                <xs:extension base="rt:mujocoType">

                    <xs:all>
                        <!-- compiler element -->
                        <xs:element name="compiler" minOccurs="0">
                            <xs:complexType>
                                <xs:complexContent>
                                    <xs:extension base="cmp:compilerType">
                                        <xs:all>
                                            <xs:element name="lengthrange" type="cmp:lengthrangeType" minOccurs="0"/>
                                            <xs:element name="include" type="rt:includeType" minOccurs="0"/>
                                        </xs:all>
                                    </xs:extension>
                                </xs:complexContent>
                            </xs:complexType>
                        </xs:element>

                        <xs:element name="include" type="rt:includeType" minOccurs="0"/>

                    </xs:all>
                </xs:extension>
            </xs:complexContent>
        </xs:complexType>
    </xs:element>
</xs:schema>