root.xsd

<?xml version="1.0"?>
<xs:schema xmlns:xs="http://www.w3.org/2001/XMLSchema" elementFormDefault="qualified"
    targetNamespace="root" xmlns="root">

    <xs:complexType name="includeType">
        <xs:attribute name="file" type="xs:string" use="required"/>
    </xs:complexType>

    <xs:complexType name="mujocoType">
        <xs:attribute name="model" type="xs:string" default="MuJoCo Model"/>
    </xs:complexType>
</xs:schema>